<h1>Edit your Information here</h1>

<section class="editContainer">
    <form method="post">
        <input
            type="text"
            name="first"
            placeholder="First Name"
            class="Input"
            id="editInputF"
        /><input
            type="text"
            name="last"
            placeholder="Last Name"
            class="Input"
            id="editInputL"
        /><input
            type="email"
            name="email"
            placeholder="Email"
            class="Input"
            id="editEmail"
        /><input
            type="password"
            name="pword"
            placeholder="Password"
            class="Input"
            id="editPword"
        /><input
            type="number"
            name="age"
            placeholder="Age"
            class="Input"
            id="editAge"
        /><input
            type="text"
            name="City"
            placeholder="City"
            class="Input"
            id="editCity"
        /><input
            type="url"
            name="Url"
            placeholder="https://example.com"
            class="Input"
            id="editUrl"
        />
        <br />
        <input type="submit" value="Submit" id="submit" />
    </form>

</section>