<h1>Please login before seeing the Petition!</h1>
<br />
<h1>{{error}}</h1>
<section id="logContainer">
    <form id="login" method="post">
        <input
            type="email"
            name="email"
            placeholder="Email"
            class="Input"
            id="emailInput"
        /><input
            type="password"
            name="password"
            placeholder="Password"
            class="Input"
            id="passInput"
        />
        <br>
        <input type="submit" value="Login" id="submit" />
    </form>
    <br />
    <a class="link" href="/register">If not registered already do it here</a>
</section>