<section class="headtext">
    <h1>Let us leave a yearly sacrifice to the sungod to keep away the
        heatwaves!</h1>
    <br />
    <h3>Please login before seeing the Petition!</h3>
    <br />
</section>
<h1>{{error}}</h1>
<section id="logContainer">
    <form id="login" method="post">
        <input
            type="email"
            name="email"
            placeholder="Email"
            class="Input"
            id="emailInput"
        /><input
            type="password"
            name="password"
            placeholder="Password"
            class="Input"
            id="passInput"
        />
        <br />
        <input type="submit" value="Login" id="submit" />
    </form>
    <br />
    <a class="link" href="/register"> ->If not registered do it here...</a>
</section>