<h1 class="headerText">
    <p>Sign our Petition for Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Natus eos sed optio voluptatum aspernatur molestias consectetur
        impedit dicta adipisci temporibus!!!!</p>
</h1>
<br />
<br />
<form id="inputPetition" method="post">
    <input
        type="text"
        name="firstName"
        placeholder="First Name"
        class="nameInputF"
    />
    <input
        type="text"
        name="lastName"
        placeholder="Last Name"
        class="nameInputL"
    />
</form>
<canvas
    width="600"
    height="150"
    id="sigCanvas"
    name="signature"
    placeholder="sign here..."
></canvas>
<br />
<button id="submit">Submit Signature</button>