<section class="headtext"><h1>
    <p>By signing this petition you ensure that the sungod is pleased <br> and will spare humanity from any kind of heatwaves in the future</p>
</h1>
</section>
<br />
<br />
<form id="inputPetition" method="post">
<canvas
    width="600"
    height="150"
    id="sigCanvas"
    name="signatureCanvas"
    placeholder="sign here..."
></canvas>
<input type="hidden" name="signature" id="sig-text">
<br />
<input type="submit" value="Submit Signature" id="submit"></input>
</form>
<script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="script.js"></script>