<h1 class="headerText">
    <p>Sign our Petition for Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Natus eos sed optio voluptatum aspernatur molestias consectetur
        impedit dicta adipisci temporibus!!!!</p>
</h1>
<br />
<br />
<form id="inputPetition" action="/signed" method="post">
    <input
        type="text"
        name="first_name"
        placeholder="First Name"
        class="nameInputF"
    />
    <input
        type="text"
        name="last_name"
        placeholder="Last Name"
        class="nameInputL"
    />
<canvas
    width="600"
    height="150"
    id="sigCanvas"
    name="signature"
    placeholder="sign here..."
></canvas>
<br />
<input type="submit" value="Send Data" id="submit">Submit Signature</input>
</form>