<img src="" alt="petition image">
<h1 class="headerText">
    <p>Sign our Petition for Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Natus eos sed optio voluptatum aspernatur molestias consectetur
        impedit dicta adipisci temporibus!!!!</p>
</h1>
<br />
<br />
<form id="inputPetition" action="/signed" method="post">
    <input
        type="text"
        name="first"
        placeholder="First Name"
        class="nameInput"
        id="nameInputF"
    /><input
        type="text"
        name="last"
        placeholder="Last Name"
        class="nameInput"
        id="nameInputL"
    />
<canvas
    width="600"
    height="150"
    id="sigCanvas"
    name="signatureCanvas"
    placeholder="sign here..."
></canvas>
<input type="hidden" name="signature" id="sig-text">
<br />
<input type="submit" value="Submit Signature" id="submit"></input>
</form>