<section class="headtext">
    <h1>Let us leave a yearly sacrifice to the sungod to keep away the
        heatwaves!</h1>
    <br />
    <h3>Please register in order to sign the petition!</h3>
    <br />
</section>
<section id="regContainer">
    <form id="register" method="post">
        <input
            type="text"
            name="first"
            placeholder="First Name"
            class="Input"
            id="nameInputF"
        /><input
            type="text"
            name="last"
            placeholder="Last Name"
            class="Input"
            id="nameInputL"
        /><input
            type="email"
            name="email"
            placeholder="Email"
            class="Input"
            id="emailInput"
        /><input
            type="password"
            name="pword"
            placeholder="Password"
            class="Input"
            id="passInput"
        />
        <br />
        <input type="submit" value="Submit" id="submit" />
    </form>
    <br />
    <a class="link" href="/login"> ->If already registered login here...</a>
</section>