<h1>Thank you {{first}} {{last}} for singing our Petition!!!</h1>

<img id="sig-image" src="{{signature}}" alt="Your signature will go here!" />
<br />
<a class="link" href="/signers"> {{count}} people have already signed</a>

<form method="post">
    <input type="submit" value="Delete" id="submit" />
</form>