<section class="headtext">
    <h1>Thank you for singing our Petition.</h1>
    <br />
    <h3>Their pleasure is not ensured until we make enough sacrifices.<br
        />Please spread the word and rescue humanity!</h3>
</section>
<img id="sig-image" src="{{signature}}" alt="Your signature will go here!" />
<br />
<a class="link" href="/signers">-> {{count}} people have already signed</a>

<form method="post">
    <input type="submit" value="Delete" id="submit" />
</form>