<h1>Please tell us more about yourself!</h1>

<section id="logContainer">
    <form id="login" method="post">
        <input
            type="number"
            name="age"
            placeholder="Age"
            class="Input"
            id="ageInput"
        /><input
            type="text"
            name="City"
            placeholder="City"
            class="Input"
            id="cityInput"
        /><input
            type="url"
            name="Url"
            placeholder="https://example.com"
            class="Input"
            id="urlInput"
        />
        <br />
        <input type="submit" value="Continue" id="submit" />
    </form>
    <br />
    <a class="link" href="/register">If not registered already do it here</a>
</section>