* {
    margin: 0px;
    font-family: monospace;
}

body {
    background: radial-gradient(circle at top, #f0cf96, #ffa4a4, black);
    background-size: 150% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:visited {
    color: rgb(66, 66, 66);
}

a:visited:hover {
    color: red;
}

img {
    margin: 0;
}

h1 {
    font-size: 25px;
}

.headtext {
    text-align: center;
}

#container {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 1fr 0.1fr;
    place-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

#inputPetition {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    margin: 25px;
}

#sigCanvas {
    grid-column-start: 1;
    grid-column-end: 5;
    /* border: 2px dotted #cccccc; */
    border-radius: 15px;
    cursor: crosshair;
    align-self: center;
    background: rgba(255, 255, 255, 0.3);
    /* box-shadow: 1px 1px 5px black; */
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -1px 0px rgba(0, 0, 0, 0.7);
}

.Input {
    -moz-padding-start: calc(10px - 3px);
    cursor: text;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.3);
    color: grey;
    width: 180px;
    margin: 20px;
    border: none;
    border-radius: 7.25px;
    text-align: center;
    /* box-shadow: 1px 1px 5px black; */
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -1px 0px rgba(0, 0, 0, 0.7);
}

.Input:focus {
    outline-offset: 0px !important;
    outline: none !important;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -1px 0px rgba(0, 0, 0, 0.7);
}

#nameInputF {
    grid-column-start: 2;
}

#nameInputL {
    grid-column-start: 3;
}

#sig-text {
    position: absolute;
    bottom: 50px;
}

#submit {
    grid-column-start: 2;
    grid-column-end: 4;
    -moz-padding-start: calc(10px - 3px);
    cursor: pointer;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.3);
    color: grey;
    width: 180px;
    margin: 25px;
    border: none;
    border-radius: 7.25px;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    position: relative;
    margin: 20px;
}

#submit:active {
    outline-offset: 0px !important;
    outline: none !important;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -1px 0px rgba(0, 0, 0, 0.7);
}

#ageInput::-webkit-inner-spin-button,
#ageInput::-webkit-outer-spin-button {
    appearance: none;
}

#signers {
    display: grid;
    grid-template-columns: 1fr;
    text-align: start;
    
}

.editContainer {
    display: grid;
    grid-template-rows: 1fr;
    margin: 1em;
}